[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Hab
	email = habana.barroso@gmail.com
[alias]
	ci = commit
[core]
	editor = vim
